:root {
  --bg-color: rgb(29, 29, 29);
  --font-color: rgb(194, 201, 207);
  --progress-color: #00bfff;

  --header-bg-color: #111111;
  --header-font-color: #535353;
  --header-link-bg-hover-color: rgba(194, 201, 207, 0.2);
  --header-active-link-border-color: #00bfff;

  --animation-very-short-time: 0.11s;
  --animation-short-time: 0.33s;
  --animation-middle-time: 0.77s;
  --animation-long-time: 1.33s;
  --animation-function: cubic-bezier(0.165, 0.84, 0.44, 1);

  // ---

  --bg-color: rgb(30, 31, 36);
  --font-color: rgb(220, 225, 230);

  --link-hover-color: rgb(202, 1, 85);
  // --link-hover-color: rgb(159, 166, 173);
  --header-bg-color: rgba(20, 20, 22, 0.5);

  --games-bg-color-hover: var(--header-bg-color);
  --games-available-font-color: var(--link-hover-color);

  /**
   * PAGES
   */

  /**
   * install-or-launch.vue
   */
  --install-or-launch-color-hover: rgb(22, 149, 233);
  --install-or-launch-error-bg-color: rgba(112, 16, 16, 0.5);
  --install-or-launch-bg-color: var(--header-bg-color);
}
